


.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #3f7f00;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	background-color:#ebffd8;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
		background:-o-linear-gradient(bottom, #d4ffaa 5%, #ebffd8 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d4ffaa), color-stop(1, #ebffd8) ); 
	background:-moz-linear-gradient( center top, #d4ffaa 5%, #ebffd8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4ffaa", endColorstr="#ebffd8");	background: -o-linear-gradient(top,#d4ffaa,ebffd8);

	background-color:#d4ffaa;

	border:1px solid #3f7f00;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
	border:0px solid #3f7f00;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.bodyArea {width:inherit;  height:1000px}



        .content {
               
                display: block;
                padding: 3px;
                position:relative;
                width:inherit;
                margin-left:0%;
                margin-right:0%;
    top: 0px;
    /*width: 1093px;*/
}

        .content2 {
                /*margin: 20px 0px 0px 10px;*/
               
                padding: 10px;
                position:relative;
                width:inherit;
 

        }

        .header {
                display: block;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 0px;
                position: fixed;
                background-color: #ffffff;
                border: 1px solid #888;
        }

  

body {
  font-family: Verdana,  Helvetica, sans-serif;
  font-size: 14px;
  background: #FFFFFF;
  width:inherit;
  margin-left:10%;
  margin-right:10%;
}
.vertical_menu {
  border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    float:left;
    width: 124px;
}
.vertical_menu li {
  list-style: none;
  margin: 5px;
}
.vertical_menu li a {
  text-decoration: none;
  color: black;
}
.vertical_menu li a:hover {
  text-decoration: underline;
}




.content3 table {
    border-collapse: collapse;
    margin: 0 auto;

}

.content3 table, td, th {
    border: 0px solid black;
}

.content3 th {
    height: 20px;
}




.content4 table {
    border-collapse: collapse;
}

.content4 table, td, th {
     border: 1px solid black;
    width: 1864px;
}

.content4 th {
    height: 20px;
       background-color: black;
     color: white;
}

